.filters {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  gap: var(--space-xs);
  padding: var(--space-s);
  background: hsl(var(--hue-blue), 40%, 6%);
  border-bottom: 1px solid var(--color-gray-3);
}

.filter {
  flex: 1;
  padding: var(--space-s);
  color: var(--color-gray-7);
  background: var(--btn-bg-color);
  border-radius: var(--border-radius);
}

.filter.active {
  color: var(--color-gray-9);
  background: var(--btn-active-bg-color);
}

.empty {
  padding: var(--space-l) var(--space-s);
  color: var(--color-gray-7);
  text-align: center;
}
